body {
 margin:0;
 text-align: center;
 background-color: papayawhip;
 box-sizing: border-box;


}
span {
  background-color:powderblue;
  margin:0;
}
h1 {
  background-color: salmon;
  margin: 0;

}
div>h1 {
  background-color: yellowgreen;
}
h2 {
  background-color: wheat;
}

p {
  width: 700px;
  background-color: antiquewhite;
  border-width: 20px;
  border-color: seagreen;
  
 
}
#p1 {
  background-color:teal;
  
  
}
#p2 {
  background-color: springgreen;
}
#p3 {
  background-color: tomato;
}
a:hover {
  background-color: palevioletred;
  
}

div {
  align-items: center;
}
