* {
  box-sizing: border-box;
  align-items: center;
}
body {
  background-color: rgba(255, 192, 203, 0.356);
  text-align: center;
 
  
}

h1 {
  color: rgb(0, 0, 0);
  
  background-color: palevioletred;
  
  
}
h1>div {
  background-color: plum;
  padding: 20px;
  border:10px solid purple;
  margin: 10px;

}
a:hover {
  background-color: palevioletred;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}