body {
 margin:0;
 text-align: center;
 background-color: papayawhip;
 box-sizing: border-box;


}
h1>div {
  background-color:powderblue;
}
h1 {
  background-color: salmon;
  margin: 0;

}

p {
  width: 200px;
  height: 200px;
  border: 20px;
  border-color: seagreen;
  float:left;
  margin: 10px
}
#p1 {
  background-color: silver;
  
}
#p2 {
  background-color: springgreen;
}
#p3 {
  background-color: tomato;
}
a:hover {
  background-color: palevioletred;
  
}

div {
  align-items: center;
}
